h1{
    font-family: 'Abril Fatface', cursive;
    font-size:300px;
}
.home{
    display: flex;
    justify-content:center;
}
.alignment{
    display: flex;
    align-content: space-between;
}
body{
    background-color: #383842;
}
#slideshow img{
 height:300px;
 width:500px;
}
#slideshow { 
    margin: 50px auto; 
    position: relative; 
    width: 240px; 
    height: 240px; 
    padding: 10px; 
    box-shadow: 0 0 20px rgba(0,0,0,0.4); 
}

#slideshow > div { 
    position: absolute; 
    top: 10px; 
    left: 10px; 
    right: 10px; 
    bottom: 10px; 
}
.welcome {
    border: none;
    background: #404040;
    color: #ffffff !important;
    font-weight: 100;
    font-size:30px;
    padding: 20px;
    text-transform: uppercase;
    border-radius: 6px;
    display: inline-block;
    transition: all 0.3s ease 0s;
    }
.welcome:hover {
    color: #404040 !important;
    font-weight: 700 !important;
    letter-spacing: 3px;
    background: none;
    -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    transition: all 0.3s ease 0s;
    }